<script src="https://kit.fontawesome.com/37eb640695.js" crossorigin="anonymous"></script>
<header>
  Angular Project {{title}}
</header>
<div class="mainContainer">
  <div class="patientInput">
    <h4 class="title">Patient Entry</h4>
    <div class="patientInputForm">
      <div class="labelInput">
        <label class="label" for="name">Name</label>
        <input class="input" type="text" [(ngModel)]="patientObj.name">
      </div>
      <div class="labelInput">
        <label class="label" for="code">Code</label>
        <input class="input" type="text" [(ngModel)]="patientObj.code">
      </div>
      <div class="labelInput">
        <label class="label" for="age">Age</label>
        <input class="input" type="number" [(ngModel)]="patientObj.age">
      </div>
      <div class="labelInput">
        <label class="label" for="type">Type</label>
        <select class="selectOpt" name="type" [(ngModel)]="patientObj.type">
          <option value="Outpatient" selected>Outpatient</option>
          <option value="Inpatient">Inpatient</option>
        </select>
      </div>
      <p class="title problem">Problems</p>
      <!-- <div class="labelInput">
        <label class="label" for="problemName">Name</label>
        <input class="input" type="text" [(ngModel)]="patientProblem.name">
      </div>
      <div class="labelInput">
        <label class="label" for="problemDescription">Description</label>
        <input class="input" type="text" [(ngModel)]="patientProblem.description">
      </div> -->
    <div class="patientProblems">
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><input class="input" type="text"  [(ngModel)]="patientProblem.name"></td>
          <td><input class="input" type="text"  [(ngModel)]="patientProblem.description"></td>
          <td>
            <button class="btn btn-success mx-1" (click)="addProblem()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
              </svg>
            </button>
            <button class="btn btn-danger" (click)="clearProblem()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
              </svg>
            </button>
        </tr>
        <tr *ngFor="let problem of patientObj.problems; let i = index">
            <td><input class="input" type="text"  [(ngModel)]="problem.name" value="{{problem.name}}"></td>
            <td><input class="input" type="text"  [(ngModel)]="problem.description" value="{{problem.description}}"></td>
            <td>
              <button class="btn btn-danger" (click)="deleteProblem(i)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
              </button>
            </td>
        </tr>
      </table>
    </div>
      <div class="actionBtn">
        <button class="btn" (click)="resetRecord()">Reset</button>
        <button class="btn" (click)="addRecord()">Add Record</button>
      </div>
    </div>
  </div>
  <div class="patientOutput">
    <h4 class="title">Patient Log</h4>
    <div class="outputTable">
      <table>
        <tr>
          <th rowspan="2">Name</th>
          <th rowspan="2">Code</th>
          <th rowspan="2">Age</th>
          <th rowspan="2">Type</th>
          <th colspan="2">Problem</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <!-- <tr>
          <td>{{patientObj.name}}</td>
          <td>{{patientObj.code}}</td>
          <td>{{patientObj.age}}</td>
          <td>{{patientObj.type}}</td>
          <td>{{patientProblem.name}}</td>
          <td>{{patientProblem.description}}</td>
        </tr> -->
        <tr *ngFor="let record of patientObjs">
          <td>{{record.name}}</td>
          <td>{{record.code}}</td>
          <td>{{record.age}}</td>
          <td>{{record.type}}</td>
          <td>
            <tr *ngFor="let problem of record.problems">
              <td style="border:none;">{{problem.name}}</td>
            </tr>
          </td>
          <td>
            <tr *ngFor="let problem of record.problems">
              <td style="border:none;">{{problem.description}}</td>
            </tr>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<footer>Copyright © 2023 - www.pawanshahi.com.np</footer>